.happyLogo{
    width: 40px;
    position: absolute;
    top:10px;
    left: 10px;
}
ion-title{
    float: left;
    width: 100%;
    text-align: center;
}
.sadLogo{
    width: 40px;
    position: absolute;
    top:10px;
    right: 10px;
}



#welcome{
    background: #f2b632;
    height: 100%;

    .marginTop{
        margin-top:100px;
    }
    .logo{
        height: 100px;
        margin-top: 80px;
        margin-bottom: 40px; 
        margin-left: 40px;
    }
}