<ion-header>
  <ion-toolbar>
      <img ion-right src="assets/imgs/happy.png" class="happyLogo" />
      <ion-title>大学毕业生情感分析</ion-title>
      <img ion-right src="assets/imgs/sad.png" class="sadLogo" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="welcome" padding>
     <!-- <button ion-button color="primary" (click)="login()">点击登录</button> -->

    <img src="assets/imgs/happy.png" class="logo"/>
    <img src="assets/imgs/sad.png" class="logo"/>
    <h1> 欢迎来到大学毕业生情感分析APP </h1>
    <div>任洁毕业设计作品</div>

    <ion-button expand="block" class="marginTop" (click)="login()">点击登录</ion-button>
    <ion-button color="secondary" expand="block"  (click)="register()">点击注册</ion-button>
    
    <!-- <button ion-button block class="marginTop" (click)="signup()">Signup</button>
    <button ion-button block color="lightprimary" (click)="login()">Login</button> -->

  </div>
   
</ion-content>