<ion-header>
  <ion-toolbar>
    <img ion-right src="assets/imgs/happy.png" class="happyLogo" />
    <ion-title>用户注册</ion-title>
    <img ion-right src="assets/imgs/sad.png" class="sadLogo" />
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="welcome" padding>

    <img src="assets/imgs/happy.png" class="logo" />
    <img src="assets/imgs/sad.png" class="logo" />

    <ion-item>
      <ion-label position="floating">用户名</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">密码</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">重复密码</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="marginTop" (click)="register()">注册</ion-button>

  </div>


</ion-content>